freezegun
odoo_test_helper
responses
# Python Dependencies
PyYAML
xmlunittest
requests

odoo14-addon-edi_exchange_type_auto @ git+https://github.com/OCA/edi@refs/pull/663/head#subdirectory=setup/edi_exchange_type_auto
